<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Painel - Minha Despensa</title>
        <link rel="stylesheet" th:href="@{/estilo.css}">
        <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
        <script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@3.6.2/dist/fetch.umd.js"></script>
        <script th:src="@{/Script.js}"></script>
        <meta name="_csrf" th:content="${_csrf.token}">
        <meta name="_csrf_header" th:content="${_csrf.headerName}">
    </head>
    <body>
        <h1>Bem-vindo(a) à sua Despensa!</h1>

        <div class="container">
            <!-- Primeira linha: Produtos -->
            <div class="row">
                <div class="col">
                    <h2>Cadastrar Produto</h2>
                    <form th:action="@{/produtos/salvar}" th:object="${produto}" method="post">
                        <label for="nomeProduto">Nome do Produto:</label>
                        <input type="text" id="nomeProduto" th:field="*{nome}" required><br>

                        <label for="porcao">Porção de Referência:</label>
                        <input type="number" id="porcao" th:field="*{porcaoReferencia}" required><br>

                        <label for="proteinas">Proteínas:</label>
                        <input type="number" id="proteinas" th:field="*{proteinas}" required><br>

                        <label for="carboidratos">Carboidratos:</label>
                        <input type="number" id="carboidratos" th:field="*{carboidratos}" required><br>

                        <label for="calorias">Calorias:</label>
                        <input type="number" id="calorias" th:field="*{calorias}" required><br>

                        <label for="gorduras">Gorduras Totais:</label>
                        <input type="number" id="gorduras" th:field="*{gordurasTotais}" required><br>

                        <button type="submit">Cadastrar Produto</button>
                    </form>
                </div>

                <!-- Lista de Produtos (Coluna 2) -->
                <div class="col">
                    <h2>Lista de Produtos</h2>
                    <div style="max-height: 450px; overflow-y: auto;">
                        <table>
                            <tbody>
                                <tr th:each="produto : ${produtos}" th:onclick="|showProduto(${produto.id})|" style="cursor: pointer;">
                                    <td th:text="${produto.nome}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Detalhes do Produto Selecionado (Coluna 3) -->
                <div class="col col-produto-info">
                    <h2>Informações do Produto</h2>
                    <div id="produto-detalhes"></div>
                </div>
            </div>
            <!-- Div para o pop-up de edição -->
            <div id="edit-popup" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #fff; padding: 20px; border: 1px solid #ccc; z-index: 1000;">
                <h3>Editar Produto</h3>
                <form id="edit-form">
                    <label for="edit-nome">Nome:</label>
                    <input type="text" id="edit-nome" required><br>

                    <label for="edit-porcao">Porção de Referência:</label>
                    <input type="number" id="edit-porcao" required><br>

                    <label for="edit-proteinas">Proteínas:</label>
                    <input type="number" id="edit-proteinas" required><br>

                    <label for="edit-carboidratos">Carboidratos:</label>
                    <input type="number" id="edit-carboidratos" required><br>

                    <label for="edit-calorias">Calorias:</label>
                    <input type="number" id="edit-calorias" required><br>

                    <label for="edit-gorduras">Gorduras Totais:</label>
                    <input type="number" id="edit-gorduras" required><br>

                    <button type="button" onclick="saveEdits()">Salvar Alterações</button>
                    <button type="button" onclick="closeEditPopup()">Cancelar</button>
                </form>
            </div>
            <!-- Segunda linha: Receitas -->
            <div class="row">
                <div class="col">
                    <h2>Cadastrar Receita</h2>
                    <form th:action="@{/receitas/salvar}" th:object="${receita}" method="post">
                        <label for="nomeReceita">Nome da Receita:</label>
                        <input type="text" id="nomeReceita" th:field="*{nome}" required><br>

                        <!-- Seção para ingredientes dinâmicos -->
                        <div id="ingredientes-container">
                            <label>Ingredientes:</label>
                            <div class="ingrediente-row">
                                <select name="ingredientes[0].produtoId" class="produto-select" required>
                                    <option value="" disabled selected>Selecione um produto</option>
                                    <option th:each="produto : ${produtos}" th:value="${produto.id}" th:text="${produto.nome}"></option>
                                </select>
                                <input type="number" name="ingredientes[0].quantidade" placeholder="Quantidade" required>
                                <span>g</span>
                            </div>
                        </div>
                        <button type="button" onclick="adicionarIngrediente()">+ Adicionar Ingrediente</button>

                        <label for="modoPreparo">Modo de Preparo:</label>
                        <textarea id="modoPreparo" th:field="*{modoPreparo}" required></textarea><br>

                        <button type="button" onclick="submitRecipe()">Cadastrar Receita</button>
                    </form>

                </div>

                <!-- Lista de Receitas (Coluna 2) -->
                <div class="col">
                    <h2>Lista de Receitas</h2>                    
                    <div style="max-height: 450px; overflow-y: auto;">
                        <table>
                            <tbody>
                                <tr th:each="receita : ${receitas}" th:onclick="|showReceita(${receita.id})|" style="cursor: pointer;">
                                    <td th:text="${receita.nome}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Detalhes da Receita Selecionada (Coluna 3) -->
                <div class="col col-receita-info">
                    <h2>Informações da Receita</h2>
                    <!-- Detalhes da receita serão carregados aqui -->
                    <div id="receita-detalhes"></div>
                </div>
            </div>
        </div>

        <!-- Elemento invisível para servir como template dos ingredientes -->
        <div id="ingrediente-template" style="display: none;">
            <div class="ingrediente-row">
                <select name="ingredientes[INDEX].produtoId" class="produto-select" required>
                    <option value="" disabled selected>Selecione um produto</option>
                    <option th:each="produto : ${produtos}" th:value="${produto.id}" th:text="${produto.nome}"></option>
                </select>
                <input type="number" name="ingredientes[INDEX].quantidade" placeholder="Quantidade" required>
                <span>g</span>
            </div>
        </div>
        <!-- Popup de edição de receita -->
        <div id="edit-popup-receita">
            <label for="edit-nome-receita">Nome da Receita:</label>
            <input type="text" id="edit-nome-receita">

            <label for="edit-modo-preparo">Modo de Preparo:</label>
            <textarea id="edit-modo-preparo"></textarea>

            <!-- Container onde os ingredientes serão adicionados -->
            <div id="edit-ingredientes-container">
                <!-- Ingredientes da receita editável serão inseridos aqui -->
            </div>

            <!-- Botão para adicionar novos ingredientes -->
            <button type="button" onclick="addIngredientField()">Adicionar Ingrediente</button>

            <button onclick="saveReceitaEdits()">Salvar</button>
            <button onclick="closeEditPopupReceita()">Cancelar</button>
        </div>

        <!-- Template de ingrediente para adicionar dinamicamente -->
        <template id="ingrediente-template">
            <div class="edit-ingrediente-row">
                <select class="produto-select">
                    <option value="">Selecione um produto</option>
                    <option value="{{produtoId}}">Produto</option>
                    <!-- Outras opções podem ser carregadas dinamicamente aqui -->
                </select>
                <input type="number" value="{{quantidade}}" class="quantidade-input" placeholder="Quantidade">
                <span>g</span>
            </div>
        </template>


    </body>
</html>
